body {
  background-color: #f3f5f7;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.primary-color {
  color: #625af5 !important;
}

.sub-text-color {
  color: #747474;
}

.navbar {
  background: #ffffff;
  color: #fff !important;
  box-shadow: 0px 1px 5px rgba(33, 35, 57, 0.2);
}

.navbar-light {
  background-color: #0000;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.navbar-brand {
  color: white !important;
  font-size: 22px !important;
}

.nav-item a {
  color: #625af5;
  text-decoration: none;
  transition: color 0.2s linear;
}

.nav-item a:hover {
  color: #4f49b9;
  text-decoration: none;
  transition: color 0.2s linear;
}

.view-ticket {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid #dfdfdf;
}

/* Sidebar */
